/**
 * Created by ub on 6/6/14.
 */
:host {
    display: flex;
}
.clause {
    display: inline-block;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 0px;
    vertical-align: middle;
    background: #fff;
}

select, input {
    display: inline-block;
    padding: 6px 10px;
    font-size: 12px;
    line-height: 1;
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: pointer;

}

select:focus, input:focus {
    outline: 0;
}